!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %title Bootstrap 101 Template

  %body
    %header
      %main-logo
        =image_tag 'emblemmatic-snap-logo-9.png', alt: "画像表示エラー",height: 150
      %header-content
        %search-area 
          search-area
          -# = form_with url: _path do |search|
            -#   =search.text_field :content, class: 'text', placeholder: 'type a message'
        %login-area 
          =link_to 'Log In'
    %main-section
      %content-section
        %user-info-area
          %user-avatar
            avatar
          %user
            %user-name
              user-name-area
            %created-time
              created-time
          %nice-icon
            nice-icon
              =icon('far', 'thumbs-up',class: 'icon')
            -# =f.label :image,class: 'post' do
              

            -# https://fontawesome.com/icons/thumbs-up?style=regular

        %message-area
          %message-image-area
            imgarea


          %message-text-area
            %text
              textarea

            %text-detail
              %category-area
                category-area

              %brand-list-area
                brand-list
                

                あああああああああああああああああああああああああああ
                ああああああああああああああああ







    -# / jQuery (necessary for Bootstrap's JavaScript plugins)
    -# %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    -# / Include all compiled plugins (below), or include individual files as needed
    -# %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
